<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Person Editor</title>
</head>
<body>
<div align="center">
    <form action="#" th:action="@{/persons/update}" th:object="${person}" method="post">
        <p>
            <label for="id">ID</label>
            <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
        </p>
        <p>
            <label for="name"> Name</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name">
        </p>
        <p>
            <label for="login">Login</label>
            <input type="text" th:field="*{login}" id="login" placeholder="Login">
        </p>
        <p>
            <label for="email">Email</label>
            <input type="text" th:field="*{email}" id="email" placeholder="Email">
        </p>
        <input type="submit" value="Update User">
        <div>
            <p><a href="/persons">Back</a></p>
        </div>
    </form>
</div>
</body>
</html>