<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

<div align="center">
    <h2>Car owners</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Login</th>
            <th>Email</th>
            <th>Name</th>
            <th>Color</th>
            <th>Power</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person:${persons}">
            <td th:text="${person.name}"></td>
            <td th:text="${person.login}"></td>
            <td th:text="${person.email}"></td>
            <td>
                <p th:each="car:${person.getAuto()}">
                    <span th:text="${car.name}"></span>
                    <span th:text="${car.color}"></span>
                    <span th:text="${car.power}"></span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div align="center">
    <a href="/editor">Open Editor</a>
</div>
</body>
</html>